<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
	<meta charset="UTF-8" />
	<title>语言检索模型</title>
	<link rel="stylesheet" type="text/css" href="css/bootstrap-theme.min.css">
	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="css/common.css">
	<script src="jquery-2.1.1/jquery.min.js" type="text/javascript"></script>
	<script src="js/bootstrap.min.js" type="text/javascript"></script>

</head>
	<!--  <body style="background-image:url(images/bg8.jpg)"> -->
	<body>
	<div class="mainDiv">
		<nav class="navbar navbar-inverse">
			<!-- <div class="container" style="margin-left: 200px"> -->
			<div class="row" style="margin-left: 200px">
				<ul class="nav nav-pills">
					<li role="presentation"
						style="margin-right: 50px; width: 500px; height: 50px"><img
							src="images/IRLablogo.png" alt=""
							style="width: auto; height: auto; max-width: 100%; max-height: 100%"><span
							style="color: rgb(255, 255, 255); font-size: 20px;text-align: center">IR&NLP虚拟仿真辅助实验平台</span>
					</li>
					<li role="presentation" style="margin-top:5px"><a th:href="@{/IRLab_index}">首页</a></li>
					<li role="presentation" class="dropdown" style="margin-top: 5px; margin-left: 30px;">
						<a class="dropdown-toggle" data-toggle="dropdown" href="#"   role="button" aria-haspopup="true" aria-expanded="false">
							预处理<span class="caret"></span>
						</a>
						<ul class="dropdown-menu">
							<li role="presentation" ><a th:href="@{/IRLab_Chinese}">中文</a></li>
							<li role="presentation" ><a th:href="@{/IRLab_English}">英文</a></li>
						</ul>
					</li>
					<li role="presentation" class="dropdown" style="margin-top: 5px;margin-left: 10px;">
						<a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
							检索模型<span class="caret"></span>
						</a>
						<ul class="dropdown-menu">
							<li role="presentation" ><a th:href="@{/IRLab_br}">布尔模型</a></li>
							<li role="presentation" ><a th:href="@{/IRLab_vsm}">向量空间模型</a></li>
							<li role="presentation" ><a th:href="@{/IRLab_pm}">概率模型</a></li>
							<li role="presentation" ><a th:href="@{/IRLab_lm}">语言模型</a></li>
						</ul>
					</li>
					<li role="presentation" class="dropdown" style="margin-top: 5px;margin-left: 10px;">
						<a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
							深度学习<span class="caret"></span>
						</a>
						<ul class="dropdown-menu">
							<li role="presentation" ><a th:href="@{/IRLab_participle}">分词</a></li>
							<li role="presentation" ><a th:href="@{/IRLab_post}">词性标注</a></li>
							<li role="presentation" ><a th:href="@{/IRLab_ione}">命名实体识别</a></li>
						</ul>
					</li>
					<li role="presentation" style=" margin-top:5px"><a href="#">API</a></li>
				</ul>
			</div>
		</nav>
	<div class="container">
		
		<div class="row" style="margin-top: 20px">
			<div class="col-md-3 col-md-offset-4" >
				<h2>命名实体识别</h2>
			</div>
		</div>
		<div class="row" id="expressionTitle" style="margin-top: 50px;margin-left: 70px">
			<div class="col-md-3 col-md-offset-2" >
				<h4>请输入想识别的内容：</h4>
			</div>
		</div>

		<div id="expression">
			<div class="row" style="margin-left: 70px">
				<div class="col-md-6 col-md-offset-2">
   					<div class="input-group">
      					<input id="inputSentence" name="term" type="text" class="form-control" placeholder="Search for...">
     					<span class="input-group-btn">
        					<button id="search" class="btn btn-default" type="button">检索</button>
      					</span>
    				</div>
				</div>
			</div>

							
		</div>
		<div class="row" id="resutlRow" style="margin-top: 30px;margin-left: 70px" >
		<div class="col-md-10 col-md-offset-2" >
			<h4>检索结果：</h4>
			<!-- <div class="col-md-10 row pre-scrollable" id="results" style="overflow:auto;margin-left:1px; width:700px; height:200px; border:1px solid MintCream;"> -->
			<div class="col-md-10 row pre-scrollable" id="results" style="overflow:auto;margin-left:1px; width:700px; height:350px; border:1px solid MintCream;" >
				<!--该div用于展示结果文档名<br>
				<languagemodel href="IRLab_Chinese.html">视界.txt</languagemodel>
				<br>环球网综合报道.txt<br>中新网.txt<br>个税法修正.txt<br>人民日报.txt<br>陈家记一审获刑13年.txt<br>新华社.txt<br>外交部发言人.txt<br>
				视界.txt<br>环球网综合报道.txt<br>中新网.txt<br>个税法修正.txt<br>人民日报.txt<br>陈家记一审获刑13年.txt<br>新华社.txt<br>外交部发言人.txt<br>-->
			</div>
  			<!-- <div class="col-md-10 row pre-scrollable" id="contents" style="margin-left:1px; margin-top: 10px; overflow:auto;width:700px; height:300px; border:1px solid MintCream;font-size: 15px; color:#C0C0C0 "> -->
  			<div class="col-md-10 row pre-scrollable" id="contents" hidden="hidden">
  				这个div被隐藏，在需要查看结果文档内容时动态显示
  			</div> 
		</div>
	</div>
	</div>
	</div>
	<div class="footer">
		<div class="container">
			<div class="row footer-top">
				<div class="col-sm-6 col-lg-6">
					<h4>信息检索与知识挖掘研究所</h4>
					<p><span class="glyphicon glyphicon-map-marker"></span>湖北省武汉市武昌区珞珈山武汉大学信息管理学院611室</p>
				</div>
				<div class="col-sm-6  col-lg-5 col-lg-offset-1">
					<div class="row about">
						<div class="col-xs-3">
							<h4>机构简介</h4>
							<ul class="list-unstyled">
								<li>
									<a style='color:#fff' href="http://ir.whu.edu.cn/"><span class="glyphicon glyphicon-link"></span>&nbsp关于我们</a>
								</li>
							</ul>
						</div>
						<div class="col-xs-9">
							<h4>联系方式</h4>
							<ul class="list-unstyled">
								<li>
									<span class="glyphicon glyphicon-envelope">&nbsp电子邮件:weilu@whu.edu.cn</span>
								</li>
							</ul>
						</div>
					</div>

				</div>
			</div>
			<hr>
			<div class="row footer-bottom">
				<ul class="list-inline text-center">
					<li>Copyright &copy;2018. 武汉大学信息检索与知识挖掘研究所  All Rights Reserved.</li>
				</ul>
			</div>
		</div>
	</div>

	</body>
<script>
    $(document).ready(function(){
        $("#search").click(function(){
            //alert($("#inputSentence").val());
            $.ajax({
                type:"POST",
                url:"http://127.0.0.1:5000/index",
                dataType:"json",
                data:JSON.stringify({
                    "sentence":$("#inputSentence").val()
                }),
                //jsonp:"callback",
                //jsonpCallback: "successCallback",
                //crossDomain:true,
                contentType:'application/json;charset=UTF-8',
                success:function(data){
                    $("#results").html("人物："+data.PER+'\n'+"地点："+data.LOC+'\n'+"组织："+data.ORG);
                    /*if(data.success){
                        $("#analysisResult").html(data.sentence);
                    } else {
                        $("#analysisResult").html("出现错误!");
                    }*/
                },
                error:function(jqXHR){
                    alert("发生错误：+"+jqXHR.status);
                }
            })
        })
    })
</script>
</html>